
body {
    font-family:'Courier New', Courier, monospace;
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    padding-top: 2em;
    gap: 1em;
    background-color: #bababa;
    padding-left: 1em;
    padding-right: 1em;
}

#user-inputs {
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
}

#number-of-element-input, #element-input {
    border: 1.5px solid black;
    border-radius: 10px;
    font-size: 1rem;
    padding: 0.6rem;
<<<<<<< HEAD
}

.buttons {
   border: 1.5px solid black; 
=======
>>>>>>> 9bb06734f6a222578a3204c4cb49ce6c9b099ac0
}