body {
    font-family:'Courier New', Courier, monospace;
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    padding-top: 2em;
    gap: 1em;
}

#user-inputs {
    display: flex;
    gap: 1em;
}