
body {
    font-family:'Courier New', Courier, monospace;
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    padding-top: 2em;
    gap: 1em;
    background-color: #bababa;
    padding-left: 1em;
    padding-right: 1em;
}

#user-inputs {
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
}

#number-of-element-input, #element-input, #input-mass1-el, #input-abundancy1-el, #input-mass2-el, #input-abundancy2-el {
    border: 1.5px solid black;
    border-radius: 10px;
    font-size: 1rem;
    padding: 0.6rem;
}

.buttons {
   border: 1.5px solid black;
   max-width: 480px; 
   margin: 0 auto;    

}

.buttons button {
    display: block;
    margin: 0.4rem auto;
}

#result-el {
    text-align: center;
    width: 100%;
    max-width: 480px;
    margin: 0.2rem auto 0;
}