
body {
    font-family:'Courier New', Courier, monospace;
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    padding-top: 2em;
    gap: 1em;
    background-color: #bababa
}

#user-inputs {
    display: flex;
    gap: 2em;
}

#number-of-element-input, #element-input {
    border: 1.5px solid black;
    border-radius: 10px;
}