@font-face {
  font-family: 'Caballar';
  src: url('Caballar.ttf') format('truetype');
}

body {
    font-family: 'Caballar', 'Courier New', Courier, monospace;
}

input::placeholder {
    font-family: 'Caballar', 'Courier New', Courier, monospace;
    color: #E6E6E6;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #E6E6E6;
    color: #E6E6E6;
    border-color: goldenrod;
    font-weight: 900;
    height: 100%;
} 

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    padding-top: 2em;
    gap: 1em;
    background: linear-gradient(to bottom, black, #363636); 
    background-repeat: no-repeat; 
    background-size: cover;
    padding-left: 1em;
    padding-right: 1em;
    border-top: 3px solid goldenrod;
} 

#error-el {
    color: #c0392b; 
    font-weight: bold;
}

#user-inputs {
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
}

#result-el {
    text-align: center;
    width: 100%;
    max-width: 480px;
    margin: 0.2rem auto 0;
}

input {
    border: 5px solid goldenrod;
    background-color: #0A1A2F;
    border-radius: 10px;
    font-size: 1rem;
    padding: 0.6rem;
    color: #E6E6E6;

    box-shadow: 
        0 0 0.7rem darkred,
        inset 0 0 1rem darkred;
} 

.info-box {
    width: 25em;
    height: 12.5em;
    background: #0A1A2F;
    border: 5px solid goldenrod;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2em;
    box-shadow: 
        0 0 0.7rem darkred,
        inset 0 0 1rem darkred;
} 

#submit-btn {
    border: 3px solid goldenrod;
    border-radius: 1rem;
    padding: 0.5em;
    background-color: #0A1A2F;
    font-weight: bold;
    transition: transform 0.15s ease, background 0.2s ease;
    color: #e6e6e6;
    box-shadow: 
        0 0 0.7rem darkred,
        inset 0 0 1rem darkred;
} 

#submit-btn:hover { 
    transform: scale(1.05);
    background: #9db6c9;
}

li {
    margin: 50px 0;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #0A1A2F;
    border: 5px solid goldenrod;
    border-radius: 1rem;
    box-shadow: 
        0 0 0.7rem darkred,
        inset 0 0 1rem darkred;
}

#notice {
    opacity: 0.725;
}

#navigation {
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: center;
    color: #0D0D0D;
}

#navigation a {
    color: #0D0D0D;
    text-decoration: none;
}

a {
    color: #E6E6E6;
}

#gaslaw-row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}